@import 'layout/grid.scss', 'utils/colors.scss', 'components/header', 'components/whoami', 'components/project', 'components/skills' , 'components/footer';

// RESET
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3, p, a {
  margin: 0;
}
body {
  background-color: var(--color-background);
  font-family: Poppins;
  color: var(--color-light);
  gap: 128px;
}
main {
  gap: 128px;
}
a {
  all: unset;
  cursor: pointer;
}
.text-copy {
  cursor: pointer;
  transition: 0.5s all;
}
.text-copy:hover {
  opacity: 0.8;
}
.tel-hover {
  cursor: pointer;
  transition: 0.5s all;
}
.tel-hover:hover {
  opacity: 0.8;
}
// RESET END