@import 'layout/grid.scss', 'utils/colors.scss', 'components/header', 'components/whoami', 'components/project', 'components/skills' , 'components/footer';

// RESET
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3, p, a {
  margin: 0;
}
body {
  background-color: var(--color-background);
  font-family: Poppins;
  color: var(--color-light);
  gap: 128px;
}
main {
  gap: 128px;
}
a {
  all: unset;
  cursor: pointer;
}
.text-copy {
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.text-copy:hover {
  opacity: 0.6;
}
.tel-hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.tel-hover:hover {
  opacity: 0.6;
}
.d-none {
  display: none;
}
// RESET END

// SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-grey-secondary); 
}
// SCROLLBAR END

// Laptop responsive
@media only screen and (max-width: 1440px){
  body {
    gap: 96px;
  }
  .container {
    flex-direction: column-reverse;
    max-width: 700px;
    .left-content {
      align-items: center;
      text-align: center;
    }
  }
  .header-logo {
    width: 350px;
    height: 350px;
  }
  .nav-items a {
    font-size: 0.625rem;
  }
  .figma-icon {
    width: 20px;
    height: 35px;
  }
  .sass-icon {
    width: 44px;
    height: 30px;
  }
  .tailwind-icon {
    width: 39px;
    height: 20px;
  }
  .vscode-icon {
    width: 14px;
    height: 14px;
  }
  .logo-figma, .logo-tailwind, .logo-sass {
    width: 60px;
    height: 60px;
  }
  .logo-vscode {
    width: 29px;
    height: 29px;
    bottom: 26px;
    right: -10px;
  }
  .title-container {
    h1 {
      font-size: 2.125rem;
    }
    h2 {
      font-size: 1.375rem;
    }   
  }
  .header-text {
    p {
      font-size: 0.625rem;
      line-height: 16px;
    }
  }
  .header-buttons {
    .contact-me-button {
      padding: 15px 25px;
      p {
        font-size: 0.875rem;
      }
    }
    .cv-download {
      padding: 15px 25px;
      p, i {
        font-size: 0.625rem;
      }
    }
  }
  .social-buttons {
    .linkedin-button {
      width: 35px;
      height: 35px;
      img {
        width: 13px;
      }
    }
    .github-button {
      width: 35px;
      height: 35px;
      i {
        font-size: 22px;
      }
    }
    .dribbble-button {
      width: 35px;
      height: 35px;
      i {
        font-size: 22px;
      }
    }
    .arrow {
      width: 11px;
      height: 32px;
    }
  }
  .whoami-text {
    max-width: 700px;
    h3 {
      font-size: 1.125rem;
    }
    p {
      font-size: 0.625rem;
      line-height: 20px;
    }
  }
  .cards-container {
    max-width: 700px;
  }
  .sort-buttons {
    gap: 12px;
    .sort-button {
      padding: 6px 12px;
      p {
        font-size: 0.625rem;
      }
    }
  }
  .cards {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 24px 24px; 
    .card {
      .card-content {
        gap: 20px;
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.625rem;
        }
        .skill .skill-content {
          img {
            width: 14px;
          }
          p {
            font-size: 0.625rem;
          }
        }
      }
      .card-links-container {
        .project-button {
          padding: 8px;
          img {
            width: 16px;
          }
        }
        .more-button {
          padding: 8px 12px;
        }
      }
      .category-tag {
        p {
          font-size: 0.625rem;
        }
      }
    }
  }
  .skills-container {
    max-width: 700px;
    .skills-title {
      font-size: 1.125rem;
    }
    .skills-cards {
      .skill-content {
        h3 {
          font-size: 1.125rem;
        }
      }
    }
  }
  footer {
    .contact-container {
      h3 {
        font-size: 1.125rem;
      }
      h1 {
        font-size: 2rem;
      }
    }
    .footer-links {
      padding: 22px 34px;
      .social-buttons {
        padding-top: 22px;
      }
      .infos p {
        font-size: 12px;
      }
      .footer-container .nav-items {
        gap: 16px;
      }
    }
  }
}
// Laptop responsive END

// Tablet responsive
@media only screen and (max-width: 768px){

}
// Tablet responsive END

// Mobile responsive
@media only screen and (max-width: 425px){

}
// Mobile responsive END